body {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #black;
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased;

}


a {
    color: #71748d;
}

a:hover {
    color: #ff407b;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}




.dashboard-header {}

.dashboard-header .navbar {
    padding: 0px;
    border-bottom: 0px solid #e6e6f2;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
    min-height: 60px;
}

/*--- Bootstrap Dropdown ----*/

.dropdown-menu {
    background: #fff;
    font-size: 14px;
    color: #3d405c;
    border: 1px solid #e6e6f2;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3d405c;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    color: #5969ff;
    background: #efeff6;
}

.page-section {}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #5969ff;
}

.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 11px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #007bff;
}
.navbar-brand:hover{
    color: #007bff;
}
.navbar-right-top {}

.navbar-right-top .nav-item {
    border-right: 1px solid #e6e6f2;
}

.navbar-right-top .nav-item:last-child {
    border: none;
}

.navbar-right-top .nav-item .nav-link {
    padding: 13px 20px;
    font-size: 16px;
    line-height: 2;
    color: #000000;
}

.nav-item .nav-link {
    font-size: 14px;
    padding: 6px 10px;
}

.row-header{
    margin: -30px auto;
    padding: 20px 0px 0px 0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:20px 0px 20px 0px;
    margin:80px auto;
    color:floralwhite;
}
.breadcrumb{
	padding: 3px 0px 3px 10px;
    background-color: #E2E2E2;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.card-body{
	margin: 5px 10px -5px ;
	padding: 0px;
}

#menu-toggle{
	font-size:250%;
}



#wrapper {
	padding-top: 65px;
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
color: white;
  padding: 0.805rem 1.1rem;
  font-size: 1.8rem;
}

/*
#sidebar-wrapper .list-group {
  width: -4rem;
}*/

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -4rem;
  }

}



.popover{
    padding-top: 35rem;
    margin-bottom: -15rem;
    padding-right: 47rem;
    min-width: 0;
}

#myform1{
    padding-right: 0px;
}



.nav-pills-custom .nav-link {
    color: rgb(131, 98, 98);
    background: rgb(238, 234, 234);
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #ffbc00;
    background:rgb(238, 234, 234);
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid white;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
        
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
    color: rgb(126, 78, 78);
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #ffbc00;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}